.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}

input {
  margin: 10px 0;
}

nav {
  background-color: rgb(25, 187, 201);
  margin: none;
  padding: 0 15px;
  height: 50px;
  position: relative;
}

nav h1 {
  margin: 0;
  padding: 5px;
  float: left;
}

nav a {
  text-decoration: none;
  color: white
}

nav a:hover {
  color: rgb(31, 10, 75);
}

nav ul {
  float: right;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 25%;
  font-size: 16pt;
}

nav li {
  margin: 0 10px;
  display: inline;
}

nav li a {
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 900;
}