<div class='tweets' data-user="<%=@user.username%>">
  <h3>Loading Fresh Tweets</h3>
  <img src="/images/ajax_loader.gif">
</div>

<script>
(function(){
  $(document).ready(function() {
    $.ajax({
      method: 'post',
      url: '/get_tweets',
      data: {user: $('.tweets').data('user')}
    })
    .done(function(response){
      $('.tweets').empty();
      $('.tweets').append(response);
    });

  });
})();
</script>