<div class='tweets' data-user="<%=@user.username%>">
  <h3>Loading Fresh Tweets</h3>
  <img src="/images/ajax_loader.gif">
</div>

<div class='sidebar'>
<h2>Send a Tweet</h2>

<form id='post_tweet' action="/post_tweet" method='post'>
  <input id='tweet_input' type="text" name="tweet_text">
  <input type="submit" value='Send Tweet'>

</form>
</div>

<script>
(function(){
  $(document).ready(function() {
    $.ajax({
      method: 'post',
      url: '/get_tweets',
      data: {user: $('.tweets').data('user')}
    })
    .done(function(response){
      $('.tweets').empty();
      $('.tweets').append(response);
    });

    $('#post_tweet').on('submit', function(e){
      e.preventDefault();
      console.log('submitting')
      $.ajax({
        method: 'post',
        url:'/post_tweets',
        data: $('#post_tweet').serialize()
      });
    });
  });
})();
</script>