<div class="container">
  <h1>Sign Up</h1>

  <% if @error %>
  <div class="errors">
    <ul>
      <% @error.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <form id="sign-up" method="post" action="/users">
    <label class="label" for="name">Name</label>
    <input type="text" name="user[name]" placeholder="e.g., joe" <%= "value=#{@user.name}" if @error %> >
    <br>

    <label class="label" for="email">Email</label>
    <input type="email" name="user[email]" placeholder="e.g., me@example.com" <%= "value=#{@user.email}" if @error %>>
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]" placeholder="6 or more characters">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
